body{
    margin: 0;
    background-color:rgba(199, 212, 177, 0.218);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.weather{
    margin:20px;
}

.city{
    font-family: sans-serif;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.28);
}

button[type="submit"]{
    font-family: sans-serif;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 5px;
    border: none;

    background-color: rgb(162, 204, 204);
   cursor: pointer;
}
button[type="submit"]:hover{
    background-color: rgb(127, 187, 187);
}

.container{
    background: linear-gradient(180deg,hsla(211, 75%, 28%, 0.73),rgba(246, 183, 66, 0.703));
    padding: 60px;
    box-shadow: 2px 2px 5px hsl(0, 0%, 0.7%);
    border-radius: 7px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 25px;
}
p{
    font-size: 1.5rem;
    font-weight: bold;
    margin: 5px 0;
}
.myH1, myTemp{
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
}
.myHumid{
    font-weight: bold;
}
.myDesc{
    font-style: oblique;
    opacity: 0.7;
}
.myEmoji{
    font-size: 6rem;
    margin: 0;
}
.myError{
   font-size: 1.5rem;

    opacity: 0.6;
}